In [1]:
import numpy as np
import pandas as pd

In [2]:
df=pd.read_csv('IMDB Dataset.csv')

In [3]:
df.head()

                                              review sentiment
0  One of the other reviewers has mentioned that ...  positive
1  A wonderful little production. <br /><br />The...  positive
2  I thought this was a wonderful way to spend ti...  positive
3  Basically there's a family where a little boy ...  negative
4  Petter Mattei's "Love in the Time of Money" is...  positive

In [4]:
df['review'][0]

"One of the other reviewers has mentioned that after watching just 1 Oz episode you'll be hooked. They are right, as this is exactly what happened with me.<br /><br />The first thing that struck me about Oz was its brutality and unflinching scenes of violence, which set in right from the word GO. Trust me, this is not a show for the faint hearted or timid. This show pulls no punches with regards to drugs, sex or violence. Its is hardcore, in the classic use of the word.<br /><br />It is called OZ as that is the nickname given to the Oswald Maximum Security State Penitentary. It focuses mainly on Emerald City, an experimental section of the prison where all the cells have glass fronts and face inwards, so privacy is not high on the agenda. Em City is home to many..Aryans, Muslims, gangstas, Latinos, Christians, Italians, Irish and more....so scuffles, death stares, dodgy dealings and shady agreements are never far away.<br /><br />I would say the main appeal of the show is due to the fact that it goes where other shows wouldn't dare. Forget pretty pictures painted for mainstream audiences, forget charm, forget romance...OZ doesn't mess around. The first episode I ever saw struck me as so nasty it was surreal, I couldn't say I was ready for it, but as I watched more, I developed a taste for Oz, and got accustomed to the high levels of graphic violence. Not just violence, but injustice (crooked guards who'll be sold out for a nickel, inmates who'll kill on order and get away with it, well mannered, middle class inmates being turned into prison bitches due to their lack of street skills or prison experience) Watching Oz, you may become comfortable with what is uncomfortable viewing....thats if you can get in touch with your darker side."

Data Cleaning

1.  sample 10000 rows 
2.  remove html tags
3.  remove special character
4.  converting every things to lower case
5.  remove stop words
6.  streaming

In [5]:
df=df.sample(10000)

In [6]:
df

                                                  review sentiment
23184  Having enjoyed Mike Myers previous work (Wayne...  negative
2363   Silly movie is really, really funny. Yes, it's...  positive
11547  With all of the violence on TV and in the loca...  positive
4080   For a scientifically-engineered super-dog that...  negative
33560  Hey if people thought ed wood was a bad direct...  negative
...                                                  ...       ...
21476  http://video.google.com/videoplay?docid=211772...  positive
42436  From the late teens to the 1920s, Stan Laurel ...  negative
31084  I don't know who financed it, or why, but this...  negative
27525  Everybody who wants to be an editor should wat...  negative
34246  How a director of Altman's experience could ev...  negative

[10000 rows x 2 columns]

In [7]:
df.shape

(10000, 2)

In [9]:
df.info()

<class 'pandas.core.frame.DataFrame'>
Int64Index: 10000 entries, 23184 to 34246
Data columns (total 2 columns):
 #   Column     Non-Null Count  Dtype
---  ------     --------------  -----
 0   review     10000 non-null  object
 1   sentiment  10000 non-null  object
dtypes: object(2)
memory usage: 234.4+ KB

In [10]:
df['sentiment'].replace({'positive':1, 'negative':0}, inplace=True)

In [11]:
df.head()

                                                  review  sentiment
23184  Having enjoyed Mike Myers previous work (Wayne...          0
2363   Silly movie is really, really funny. Yes, it's...          1
11547  With all of the violence on TV and in the loca...          1
4080   For a scientifically-engineered super-dog that...          0
33560  Hey if people thought ed wood was a bad direct...          0

In [12]:
import re
clean =re.compile('<.*?>')
re.sub(clean,' ', df.iloc[2].review )

'With all of the violence on TV and in the local news, it is refreshing to have a show that has no violence or adult language, yet is still entertaining. My children look forward to watching with us every week. Each of us have a favorite chef and favorite judges. We all enjoy Elton Brown. We enjoy learning about the background of the main ingredient, unique vegetables and seasonings. We play along at home to guess who the winner will be.  It is a great hour of entertainment, as well as informational. Best of all in our hussle, bussle life, it is an hour the family spends together.'

In [13]:
# function to clean html Tags
def clean_html(text):
    clean= re.compile('<.*?>')
    return re.sub(clean,'',text)

In [15]:
df['review']=df['review'].apply(clean_html)

In [16]:
df.head()

                                                  review  sentiment
23184  Having enjoyed Mike Myers previous work (Wayne...          0
2363   Silly movie is really, really funny. Yes, it's...          1
11547  With all of the violence on TV and in the loca...          1
4080   For a scientifically-engineered super-dog that...          0
33560  Hey if people thought ed wood was a bad direct...          0

In [17]:
#converting everything to lower case
def convert_lower(text):
    return text.lower()

In [18]:
df['review']=df['review'].apply(convert_lower)

In [19]:
df.head()

                                                  review  sentiment
23184  having enjoyed mike myers previous work (wayne...          0
2363   silly movie is really, really funny. yes, it's...          1
11547  with all of the violence on tv and in the loca...          1
4080   for a scientifically-engineered super-dog that...          0
33560  hey if people thought ed wood was a bad direct...          0

In [23]:
#function to remove special character
def remove_special(text):
    x=''
    for i in text:
        if i.isalnum():
            x=x+i
        else:
            x=x + ' '
    return x

In [24]:
remove_special('thin d@$$$%%')

'thin d      '

In [25]:
df['review']=df['review'].apply(remove_special)

In [26]:
import nltk

In [28]:
# remove the stop words
from nltk.corpus import stopwords

In [29]:
df

                                                  review  sentiment
23184  having enjoyed mike myers previous work  wayne...          0
2363   silly movie is really  really funny  yes  it s...          1
11547  with all of the violence on tv and in the loca...          1
4080   for a scientifically engineered super dog that...          0
33560  hey if people thought ed wood was a bad direct...          0
...                                                  ...        ...
21476  http   video google com videoplay docid 211772...          1
42436  from the late teens to the 1920s  stan laurel ...          0
31084  i don t know who financed it  or why  but this...          0
27525  everybody who wants to be an editor should wat...          0
34246  how a director of altman s experience could ev...          0

[10000 rows x 2 columns]

In [30]:
stopwords.words('english')

['i',
 'me',
 'my',
 'myself',
 'we',
 'our',
 'ours',
 'ourselves',
 'you',
 "you're",
 "you've",
 "you'll",
 "you'd",
 'your',
 'yours',
 'yourself',
 'yourselves',
 'he',
 'him',
 'his',
 'himself',
 'she',
 "she's",
 'her',
 'hers',
 'herself',
 'it',
 "it's",
 'its',
 'itself',
 'they',
 'them',
 'their',
 'theirs',
 'themselves',
 'what',
 'which',
 'who',
 'whom',
 'this',
 'that',
 "that'll",
 'these',
 'those',
 'am',
 'is',
 'are',
 'was',
 'were',
 'be',
 'been',
 'being',
 'have',
 'has',
 'had',
 'having',
 'do',
 'does',
 'did',
 'doing',
 'a',
 'an',
 'the',
 'and',
 'but',
 'if',
 'or',
 'because',
 'as',
 'until',
 'while',
 'of',
 'at',
 'by',
 'for',
 'with',
 'about',
 'against',
 'between',
 'into',
 'through',
 'during',
 'before',
 'after',
 'above',
 'below',
 'to',
 'from',
 'up',
 'down',
 'in',
 'out',
 'on',
 'off',
 'over',
 'under',
 'again',
 'further',
 'then',
 'once',
 'here',
 'there',
 'when',
 'where',
 'why',
 'how',
 'all',
 'any',
 'both',
 'each',
 'few',
 'more',
 'most',
 'other',
 'some',
 'such',
 'no',
 'nor',
 'not',
 'only',
 'own',
 'same',
 'so',
 'than',
 'too',
 'very',
 's',
 't',
 'can',
 'will',
 'just',
 'don',
 "don't",
 'should',
 "should've",
 'now',
 'd',
 'll',
 'm',
 'o',
 're',
 've',
 'y',
 'ain',
 'aren',
 "aren't",
 'couldn',
 "couldn't",
 'didn',
 "didn't",
 'doesn',
 "doesn't",
 'hadn',
 "hadn't",
 'hasn',
 "hasn't",
 'haven',
 "haven't",
 'isn',
 "isn't",
 'ma',
 'mightn',
 "mightn't",
 'mustn',
 "mustn't",
 'needn',
 "needn't",
 'shan',
 "shan't",
 'shouldn',
 "shouldn't",
 'wasn',
 "wasn't",
 'weren',
 "weren't",
 'won',
 "won't",
 'wouldn',
 "wouldn't"]

In [35]:
def remove_stopwords(text):
    x=[]
    for i in text.split():
        if i not in stopwords.words('english'):
            x.append(i)
    y=x[:]
    x.clear()
    return y

In [ ]:
df['review']=df['review'].apply(remove_stopwords)

In [33]:
df.head()

                                                  review  sentiment
23184  [enjoyed, mike, myers, previous, work, waynes,...          0
2363   [silly, movie, really, really, funny, yes, got...          1
11547  [violence, tv, local, news, refreshing, show, ...          1
4080   [scientifically, engineered, super, dog, suppo...          0
33560  [hey, people, thought, ed, wood, bad, director...          0

In [37]:
#perform Steming
from nltk.stem.porter import PorterStemmer
ps=PorterStemmer()

In [38]:
y=[]
def stem_words(text):
    for i in text:
        y.append(ps.stem(i))
    z=y[:]
    y.clear()
    return z

In [39]:
df['review']=df['review'].apply(stem_words)

In [40]:
df.head()

                                                  review  sentiment
23184  [enjoy, mike, myer, previou, work, wayn, world...          0
2363   [silli, movi, realli, realli, funni, ye, got, ...          1
11547  [violenc, tv, local, news, refresh, show, viol...          1
4080   [scientif, engin, super, dog, suppos, answer, ...          0
33560  [hey, peopl, thought, ed, wood, bad, director,...          0

In [41]:
#join back
def join_blac(list_input):
    return " ".join(list_input)

In [42]:
df['review']=df['review'].apply(join_blac)

In [43]:
df

                                                  review  sentiment
23184  enjoy mike myer previou work wayn world saturd...          0
2363   silli movi realli realli funni ye got dead mom...          1
11547  violenc tv local news refresh show violenc adu...          1
4080   scientif engin super dog suppos answer petit c...          0
33560  hey peopl thought ed wood bad director total s...          0
...                                                  ...        ...
21476  http video googl com videoplay docid 211772166...          1
42436  late teen 1920 stan laurel solo act film time ...          0
31084  know financ want vampir flick realli aw tri hi...          0
27525  everybodi want editor watch movi show everi mi...          0
34246  director altman experi could ever expect us wa...          0

[10000 rows x 2 columns]

In [67]:
from sklearn.feature_extraction.text import CountVectorizer
cv=CountVectorizer(max_features=1000)

In [68]:
x=cv.fit_transform(df['review']).toarray()

In [69]:
x.shape

(10000, 1000)

In [70]:
x[0]

array([0, 0, 0, 0, 0, 0, 0, 0, 0, 0, 0, 0, 0, 0, 0, 0, 0, 0, 0, 0, 0, 0,
       0, 0, 0, 0, 0, 0, 0, 0, 0, 0, 0, 0, 0, 0, 0, 0, 0, 0, 0, 0, 0, 0,
       1, 0, 0, 0, 0, 0, 0, 0, 0, 1, 0, 0, 0, 0, 0, 0, 0, 0, 0, 0, 0, 0,
       0, 0, 0, 0, 0, 0, 0, 0, 1, 0, 0, 0, 0, 0, 0, 0, 0, 0, 0, 0, 0, 0,
       0, 0, 1, 0, 0, 0, 1, 0, 0, 0, 0, 0, 0, 0, 0, 0, 0, 1, 0, 0, 0, 0,
       1, 0, 0, 0, 0, 0, 0, 0, 0, 0, 0, 0, 0, 0, 0, 0, 0, 0, 0, 0, 0, 0,
       0, 0, 0, 0, 0, 0, 0, 0, 0, 0, 0, 0, 0, 0, 1, 0, 0, 0, 0, 0, 0, 0,
       0, 0, 0, 0, 0, 0, 0, 0, 0, 0, 0, 0, 0, 0, 0, 0, 0, 0, 0, 0, 0, 0,
       0, 0, 0, 0, 0, 0, 0, 0, 0, 0, 0, 0, 0, 0, 0, 0, 0, 0, 1, 0, 0, 0,
       0, 0, 0, 0, 0, 0, 0, 0, 0, 0, 0, 0, 0, 0, 0, 0, 0, 0, 0, 0, 0, 0,
       1, 0, 0, 0, 0, 0, 0, 0, 0, 0, 0, 0, 0, 0, 0, 0, 1, 0, 0, 0, 0, 0,
       0, 0, 1, 0, 0, 0, 0, 0, 0, 0, 0, 0, 0, 0, 0, 0, 0, 0, 0, 0, 0, 0,
       0, 0, 0, 0, 0, 0, 0, 0, 0, 0, 0, 0, 0, 0, 0, 0, 0, 0, 0, 0, 0, 0,
       0, 2, 0, 0, 0, 0, 0, 0, 0, 0, 2, 0, 0, 1, 0, 0, 0, 0, 0, 0, 0, 0,
       0, 0, 0, 1, 0, 0, 0, 0, 0, 0, 0, 0, 0, 1, 0, 0, 0, 0, 0, 0, 0, 0,
       0, 0, 0, 0, 0, 0, 0, 0, 0, 0, 0, 0, 0, 0, 0, 1, 0, 0, 2, 0, 0, 0,
       2, 0, 0, 0, 0, 0, 0, 0, 0, 0, 0, 0, 0, 0, 0, 0, 0, 1, 0, 0, 0, 1,
       0, 0, 0, 0, 0, 0, 0, 0, 0, 0, 0, 0, 0, 0, 0, 0, 0, 0, 0, 0, 0, 0,
       0, 0, 0, 0, 0, 0, 0, 0, 0, 0, 0, 0, 1, 0, 0, 0, 0, 0, 0, 0, 0, 0,
       0, 1, 0, 0, 0, 0, 0, 0, 0, 0, 0, 0, 0, 0, 0, 0, 0, 0, 0, 0, 0, 0,
       0, 0, 0, 0, 0, 0, 0, 0, 0, 1, 0, 0, 0, 0, 0, 0, 0, 0, 0, 0, 0, 0,
       0, 0, 0, 0, 0, 0, 0, 0, 0, 0, 0, 0, 0, 0, 0, 0, 0, 0, 0, 0, 0, 0,
       0, 0, 0, 0, 0, 0, 0, 0, 0, 0, 0, 0, 0, 0, 0, 0, 0, 0, 0, 0, 0, 0,
       0, 0, 0, 0, 0, 1, 0, 0, 0, 0, 0, 0, 1, 0, 0, 0, 0, 0, 0, 0, 0, 0,
       0, 0, 0, 0, 0, 0, 0, 1, 0, 0, 0, 0, 0, 0, 0, 0, 0, 0, 0, 0, 1, 0,
       1, 0, 0, 0, 0, 0, 0, 0, 0, 0, 0, 0, 0, 0, 0, 0, 0, 3, 0, 0, 0, 0,
       0, 0, 0, 0, 0, 0, 0, 0, 0, 0, 0, 0, 0, 0, 0, 0, 0, 0, 0, 0, 0, 0,
       0, 0, 1, 0, 0, 0, 0, 0, 0, 0, 0, 0, 0, 0, 0, 0, 0, 0, 0, 0, 0, 1,
       0, 1, 0, 0, 0, 0, 0, 0, 0, 0, 0, 0, 1, 0, 0, 0, 0, 0, 0, 0, 0, 0,
       0, 0, 0, 0, 0, 0, 0, 0, 1, 0, 0, 0, 0, 0, 0, 1, 0, 0, 0, 0, 0, 0,
       0, 0, 0, 0, 0, 0, 0, 0, 0, 0, 1, 0, 0, 0, 0, 0, 0, 0, 1, 0, 0, 0,
       0, 0, 0, 0, 0, 0, 0, 0, 0, 0, 0, 0, 0, 0, 0, 0, 0, 0, 0, 0, 0, 0,
       0, 0, 0, 0, 0, 0, 1, 0, 0, 0, 0, 0, 0, 0, 0, 0, 0, 0, 0, 0, 0, 0,
       0, 0, 0, 0, 0, 0, 0, 0, 0, 0, 0, 0, 0, 0, 0, 0, 0, 0, 0, 0, 0, 0,
       0, 0, 0, 0, 0, 0, 0, 0, 0, 0, 0, 0, 0, 0, 1, 0, 1, 0, 1, 0, 0, 0,
       0, 0, 0, 0, 0, 1, 1, 0, 0, 0, 0, 0, 0, 0, 0, 0, 0, 0, 0, 0, 0, 0,
       0, 0, 0, 0, 0, 0, 0, 0, 0, 0, 0, 0, 0, 0, 0, 0, 0, 0, 0, 0, 0, 0,
       0, 0, 0, 0, 0, 0, 0, 0, 0, 0, 0, 0, 0, 0, 0, 0, 0, 0, 0, 0, 0, 0,
       0, 0, 0, 0, 0, 0, 0, 0, 0, 0, 0, 0, 0, 0, 0, 0, 0, 0, 0, 0, 1, 0,
       0, 0, 0, 0, 0, 0, 0, 0, 0, 0, 0, 0, 0, 0, 0, 0, 0, 0, 0, 0, 0, 0,
       2, 0, 0, 0, 0, 0, 0, 0, 0, 0, 1, 0, 0, 0, 0, 0, 3, 1, 0, 0, 0, 0,
       0, 0, 0, 0, 0, 0, 0, 0, 0, 0, 0, 0, 0, 0, 0, 0, 0, 0, 0, 0, 0, 0,
       0, 0, 0, 0, 0, 0, 0, 0, 0, 0, 0, 0, 0, 0, 0, 0, 0, 0, 0, 0, 0, 0,
       0, 0, 0, 0, 0, 0, 0, 0, 0, 0, 2, 0, 0, 0, 0, 0, 0, 0, 0, 0, 0, 1,
       0, 0, 0, 0, 0, 0, 0, 0, 0, 0, 0, 0, 0, 0, 0, 1, 1, 1, 1, 0, 0, 0,
       0, 0, 0, 0, 0, 1, 0, 0, 0, 0], dtype=int64)

In [71]:
y=df.iloc[:,-1].values

In [72]:
y

array([0, 1, 1, ..., 0, 0, 0], dtype=int64)

In [73]:
y.shape

(10000,)

In [74]:
from sklearn.model_selection import train_test_split
x_train,x_test,y_train,y_test=train_test_split(x,y,test_size=0.2)

In [75]:
x_train.shape

(8000, 1000)

In [76]:
x_test.shape

(2000, 1000)

In [77]:
y_train.shape

(8000,)

In [78]:
y_test.shape

(2000,)

In [79]:
from sklearn.naive_bayes import GaussianNB, MultinomialNB,BernoulliNB

In [80]:
clf1=GaussianNB()
clf2=MultinomialNB()
clf3=BernoulliNB()

In [81]:
clf1.fit(x_train,y_train)
clf2.fit(x_train,y_train)
clf3.fit(x_train,y_train)

BernoulliNB()

In [82]:
y_pred1=clf1.predict(x_test)
y_pred2=clf2.predict(x_test)
y_pred3=clf3.predict(x_test)

In [83]:
y_test.shape

(2000,)

In [84]:
y_pred1.shape

(2000,)

In [85]:
from sklearn.metrics import accuracy_score

In [86]:
print("Gaussian",accuracy_score(y_test,y_pred1))
print("Multinomial",accuracy_score(y_test,y_pred2))
print("bernouli",accuracy_score(y_test,y_pred3))

Gaussian 0.7825
Multinomial 0.8215
bernouli 0.8235